/* Utility library which loads modules, schedules events, stores data,
 * and processes lua scripts
 */
eosimias: {
    module_path = "eosimias/eosimias_bdb/.libs:eosimias/eosimias_libev/.libs:eonessa/eonessa_snmp_snmpv2_mib/.libs";
    data_store_module = "eosimias_bdb";
    event_module = "eosimias_libev";

    eosimias_bdb: {
        environment = "/tmp";
    };

};

/* Deep packet inspection library */
eocene: {
    modules = [ "eocene_ethernet",
                    "eocene_ipv4",
                    "eocene_stp",
                        "eocene_bridge_network"
              ];

    wireline_modules = [ "eocene_ethernet" ];

    sources = ( {
        type = "pcap-live";
        source = "wlan1";
        filter = "";
        promiscuous = 1;
    });

    /*eocene_http: {
    };*/

};

/* Discovery, monitoring, and notification library */
eonessa: {
    snmp_modules = [ "eonessa_snmp_snmpv2_mib",
                     "sonessa_snmp_if_mib"
                   ];
    syslog_modules = [ "eonessa_syslog_cisco",
                       "eonessa_syslog_brocade",
                       "eonessa_syslog_juniper"
                     ];
    notification_modules = [ "eonessa_notification_email",
                             "eonessa_notification_phonecall"
                           ];
};

/*servers = ( {
                domain = "AF_INET";
                type = "SOCK_STREAM";
                protocol = 0;
                local_ip = "127.0.0.1";
                local_port = "5010";
            }
);*/

application:
{
  window:
  {
    title = "My Application";
    size = { w = 640; h = 480; };
    pos = { x = 350; y = 250; };
  };

  list = ( ( "abc", 123, true ), 1.234, ( /* an empty list */) );

  books = ( { title  = "Treasure Island";
              author = "Robert Louis Stevenson";
              price  = 29.95;
              qty    = 5; },
            { title  = "Snow Crash";
              author = "Neal Stephenson";
              price  = 9.99;
              qty    = 8; } );

  misc:
  {
    pi = 3.141592654;
    bigint = 9223372036854775807L;
    columns = [ "Last Name", "First Name", "MI" ];
    bitmask = 0x1FC3;
  };
};
